<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Devportfolio Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{  user.username }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <form class="form col-md-12" action="{% url 'cms:logout' %}" method="post">
                        {% csrf_token %}
                        <a href="javascript:;" onclick="parentNode.submit();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            {% url 'cms:admin-main' as main_url %}
            <li class="{% if current_path == main_url %}active{% endif %}">
                <a href="{{ main_url }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
            {% url 'cms:projects' as projects_url %}
            {% url 'cms:projects-add' as projects_add_url %}
            <li class="{% if current_path == projects_url or current_path == projects_add_url %}active{% endif %}">
                <a id="test" href="#" data-toggle="collapse" data-target="#projects" {% if current_path == projects_url or current_path == projects_add_url %} class aria-expanded="true" {% else %} class="collapse" aria-expanded="false" {% endif %}><i class="fa fa-fw fa-table"></i> Projects <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="projects" {% if current_path == projects_url or current_path == projects_add_url %} aria-expanded="true" class="colapse in"{% else %} class="collapse" {% endif %}>
                    <li>
                        <a href="{{ projects_url }}">Overview</a>
                    </li>
                    <li>
                        <a href="{{ projects_add_url }}">New project</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                    <li>
                        <a href="#">Dropdown Item</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>