<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Devportfolio{% endblock %}</title>

    {% load staticfiles %}
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'portfolio/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'portfolio/css/freelancer.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'portfolio/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    
    <!-- Navigation -->
    {% include 'portfolio/navbar.html' %}
    
    <!-- Header -->
    {% include 'portfolio/header.html' %}
    
    <!-- Portfolio Grid Section -->
    {% include 'portfolio/gridSection.html' %}
    
    <!-- About Section -->
    {% include 'portfolio/aboutSection.html' %}
    
    <!-- Contact Section -->
    {% include 'portfolio/contactSection.html' %}

    <!-- Footer -->
    {% include 'portfolio/footer.html' %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    {% include 'portfolio/ss.html' %}

    <!-- Portfolio Modals -->
    {% include 'portfolio/modals.html' %}

    <!-- jQuery -->
    <script src="{% static 'portfolio/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'portfolio/js/classie.js' %}"></script>
    <script src="{% static 'portfolio/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'portfolio/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'portfolio/js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'portfolio/js/freelancer.js' %}"></script>

</body>

</html>
