{% extends 'cms/index.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Projects <small>Create new</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <form class="form col-md-6" enctype="multipart/form-data" method="post" action="{% url 'cms:projects-add' %}">
      <div class="form-group">
        {% csrf_token %}
      </div>
      {% for field in form %}
      <div class="form-group">
        {{ field.label }}{{ field }}
      </div>
      <div class="form-group" style="color: red;">
        {{ field.errors }}
      </div>      
      {% endfor %}
      <input class="btn btn-default" value="Add new project" type="submit" />
    </form>
  </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
{% endblock %}