{% extends 'cms/index.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Projects <small>Overview</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div id="success_delete" class="col-lg-12">
        </div>
    </div>
    <!-- /.row -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-dashboard"></i><span> Dashboard</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Photo</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr id="prj_{{ project.id }}">
                        <td>{{ project.title }}</td>
                        <td>{{ project.content }}</td>
                        <td><img src="{{ MEDIA_URL }}{{ project.photo }}" class="img-responsive" alt="Cinque Terre" width="200" height="250"></td>
                        <td>{{ project.url }}</td>
                        <td>
                            <form class="form col-md-6" method="" action="{% url 'cms:projects-delete' pk=project.id %}">
                                <button class="btn btn-danger delete_project">Delete</button>
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}