<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap Login Form</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load staticfiles %}
		<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{% static 'cms/css/styles.css' %}" rel="stylesheet">
	</head>
	<body>
    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body">
                <form id="signIn" class="form col-md-12 center-block" method="post" action="{% url 'cms:login' %}">
                  <div class="form-group">
                    <input id="main" type="hidden" value="{{ redirect_url }}" />
                  </div>                  
                  <div class="form-group">
                    {% csrf_token %}
                  </div>
                  {% for field in form %}
                  <div class="form-group">
                    {{ field }}
                  </div>
                  <div id="ajax_error_{{ field.name }}">
                  </div> 
                  {% endfor %}
                  <div id="ajax_error___all__">
                  </div> 
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                  </div>             
                </form>
            </div>
            <div class="modal-footer">
              <div class="col-md-12">
      		    </div>	
            </div>
        </div>
      </div>
    </div>
    <!-- script references -->
		<script src="{% static 'jquery.js' %}"></script>
		<script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'cms/js/custom.js' %}"></script>
	</body>
</html>